<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>CFBot</title>
    <meta name="description" content="A Codeforces Contest Updates Bot">
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.com/737193ad-14e1-478d-94da-c41571373b77%2Frobot-face_1f916.png?1535460717284"
        type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
</head>

<body>
    <h1> Rishabh's CF Contest Reminder</h1>

</body>

</html>